# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
src/app/app.component.js
src/app/app.component.js.map
src/app/app.component.spec.js
src/app/app.component.spec.js.map
src/main.js
src/main.js.map
src/polyfills.js
src/polyfills.js.map
src/vendor.js
src/vendor.js.map
